<h2>The Eats</h2>
<ul class="health_violations">
  <% @best.each do |inspection| %>
    <li>
      <a href="/health_inspections/<%= inspection.seamless_vendor_id %>">
        <%= inspection.dba %>
      </a>
    </li>
  <% end %>
</ul>
<h2>The Don't Eats</h2>
<ul class="health_violations">
  <% @worst.each do |inspection| %>
    <li>
      <a href="/health_inspections/<%= inspection.seamless_vendor_id %>">
        <%= inspection.dba %>
      </a>
    </li>
  <% end %>
</ul>
