// Place all the styles related to the HealthInspections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.health_violations {
  list-style-type: none;
}

body {
  color:black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-image: url(../images/cement_and_brick.jpg);
  background-attachment:fixed;
}

@media screen and (min-aspect-ratio: 3500/2333) {
  body {
    background-size: 100% auto;
  }
}

@media screen and (max-aspect-ratio: 3500/2333) {
  body {
    background-attachment:fixed;
  }
}